.nav-list {
	@apply w-full flex flex-wrap justify-center gap-x-6 gap-y-3 mb-6 overflow-visible pb-1;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		@apply hidden;
	}

	> li {
		@apply font-700 whitespace-nowrap shrink-0;
	}

	@media (max-width: 640px) {
		@apply gap-x-5 pb-2 px-[4px];
		scrollbar-width: none;
	}
}

.active {
	@apply inline-flex rounded-md px-3 py-1 text-white font-700 shadow-sm;
	background: linear-gradient(
		87.12deg,
		#470b58 1.98%,
		#c21b84 50.27%,
		#fa595e 74.42%,
		#f8bd31 98.56%
	);
}
